name: ci

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
          cache: true

      - name: Go fmt
        run: |
          test -z "$(gofmt -l .)" || (echo 'gofmt needed:' && gofmt -l . && exit 1)

      - name: Go test
        run: go test ./...

      - name: Go vet
        run: go vet ./...
